

.booking-tickets-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    z-index: 100;
}

.booking-tickets-container-inner{
    position: relative;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 90px;
    padding-bottom: 95px;
    background: white;
}

.close-form-btn{
    position: absolute;
    right: 30px;
    top: 30px;
    display: grid;
    padding: 5px;

}

.close-form-btn >*{
    grid-row: 1/2;
    grid-column: 1/2;
    min-width: 35px;
    min-height: 1px;
    background-color: #030303;
    transition: all 0.25s ease-in-out;
}

.close-form-btn:hover {
    cursor: pointer;
}

.close-form-btn:hover >*{
    min-height: 3px;
    background-color: rgba(210, 177, 131, 1);
}




.first-close-form-line{
    transform: rotate(45deg);
}

.second-close-form-line{
    transform: rotate(-45deg);
}


.booking-interactive-container{
    max-width: 400px;
    
}

.booking-logo-container svg{
    width: 85px;
    height: 41px;
}

.booking-tickets-title{
    font-family: 'Forum';
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    
}

.booking-tickets-description{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #710707;
    margin-top: 15px;
}



.booking-form-container{
    margin-top: 73px;
}

.booking-form-container > * {
    width: 100%;
}

.booking-form-container input:invalid{
    border: 2px solid red;
}

/* .booking-form-container input:valid {
  border: 2px solid green;
} */

#type{
    
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 45px;
    border: 1px solid #030303;
    margin-bottom: 20px;
}

#type:focus{
    border: 3px solid #030303;
    border-radius: 0.5em;
}

.booking-tickets-container .underline-title::after{
    bottom: 10px;
    
}

.booking-tickets-container input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 45px;
    border: 1px solid #030303;
    margin-bottom: 20px;
}

.booking-price-container{
    box-sizing: border-box;
    padding: 10px 15px 15px 15px;
    border: 1px solid #030303;
}

.booking-price-subtitle{
    font-family: 'Forum';
    font-size: 18px;
    font-weight: 400;
}



.booking-price-container .tickets-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.booking-price-container .tickets-btn-container p{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
}

.booking-price-container .tickets-btn{
    min-width: 105px;
    min-height: 25px;
    border: 1px solid #030303;
    width: 105px;
    height: 25px;
    margin-bottom: 0;
}


.booking-price-container .tickets-count-btn{
    background-color: #030303;
    color: white;
    width: 33.33%;
    height: 100%;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.booking-price-container .number-ticket{
    margin: 0;
    border: 0;
    padding: 0;
    width: 33.333%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    
    
}


.booking-price-container .number-ticket::-webkit-inner-spin-button{
    display: none;
}

.tickets-overview-container{
    max-width: 530px;
    box-sizing: border-box;
    padding: 25px 30px;
    border: 1px solid #030303;
}

.overview-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.overview-title{
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.overview-description{
    font-size: 22px;
    font-weight: 500;
    color: #710707;
    margin: 0 0 10px 0;
}

.overview-details{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.overview-details p{
    margin: 0;
}

.tickets-price-inf-container{
    margin-top: 22px;
}

.tickets-price-inf-line, .total-price-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tickets-count-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.tickets-price-inf-line p:not(.tickets-count-form ){
    margin: 0;
    font-size: 22px;
}

.tickets-price-inf-container .underline-title::after{
    bottom: -10px;
}

.tickets-count-form {
    background-color: #030303;
    color: white;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 18px;
    margin: 0;
}


.total-price-container p{
    font-size: 32px;
}

.total-tickets-price{
    font-weight: 500;
}

.booking-form-btn{
    background-color: #710707;
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
    padding: 10px 85px;
    border: none;
    float: right;
}

.date-time-form-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.payment-method-container {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12.5% 75% 12.5%;
    max-height: 240px;
    margin-bottom: 25px;
}

.front-card-container{
    grid-column: 1 / 4;
    grid-row: 1/3;
    z-index: 50;
    display: flex;
    align-items: start;
    justify-content: left;
    flex-direction: column;
    padding: 20px;
    background: #A4A4A3;
    border-radius: 10px;
}

.front-card-container >*{
    width: 100%;
}

.front-card-container p{
    margin: 0;
    margin-bottom: 5px;
}

.front-card-container input{
    margin: 0;
    margin-bottom: 10px;
    height: 35px;
}

.card-number-date-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card-number-date-container{
    max-width: 67%;
}

.card-logo-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 15px;
    margin-top: 20px;
}

.back-card-container{
    grid-column: 2/5;
    grid-row: 2/4;
    z-index: 49;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    border-radius: 10px;
    background: #939393;
}

.back-card-rectangle{
    width: 100%;
    height: auto;
}

.cvc-cvv-container{
    max-width: 23.333%;
    margin: 15px 20px;
}
.cvc-cvv-container p{
    margin: 0;
    margin-bottom: 5px;
}

.cvc-cvv-container input{
    margin-bottom: 10px;
    height: 35px;
}





.mounth-year-container{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.cvc-cvv-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cvc-cvv-description{
    font-size: 10px;
}








